{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        {% block static %}{% endblock %}
    </head>
    <body>
        <div class="site-container">
            <header>
            <nav>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'review:review_list' %}">Latest Reviews</a>
                <a id="nav_movie_list" href="{% url 'review:movie_list' %}">Latest Movies</a>
                <form action="{% url 'review:search' %}" method="GET">
                    <input type="search" name="q">
                    <button type="submit">Search Reviews</button>
                </form>
            </nav>
            {% if messages %}
                <div class="row">
                    <div class="small-6 small-centered columns">
                        {% for message in messages %}
                            <div data-alert class="alert-box {{ messages.tags }} radius">
                                {{ message }}
                                <a href="#" class="close">&times;</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            </header>
            {% block content %}{% endblock %}
        </div>
    <footer>
    {% block suggest %}
        <a href="{% url 'suggestion' %}">Contact Us</a>
    {% endblock %}
    </footer>
    </body>
</html>
