html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.site-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .site-container::after {
    clear: both;
    content: "";
    display: table; }
  .site-container nav {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #642039;
    margin-bottom: 1em;
    overflow: hidden; }
    .site-container nav a {
      display: table-cell;
      width: 8.33333%;
      padding: 10px;
      border-bottom: 2px solid #642039;
      color: #e6557e;
      letter-spacing: 0.075em;
      line-height: 60px;
      text-align: center;
      text-decoration: none; }
      .site-container nav a:hover {
        background: #6d3753;
        border-bottom: 2px solid #642039;
        color: white; }

.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.card {
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 4px #e6e6e6;
  margin: 0 1em 1.5em 1em;
  position: relative; }
  .card header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f6f6f6;
    border-bottom: 1px solid gainsboro;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em; }
    .card header a {
      color: #642039;
      text-decoration: none; }
      .card header a:hover {
        text-decoration: underline; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .card .card-copy p {
      margin: 0 0 0.75em; }

article h2 a,
article h3 a {
  color: #642039;
  text-decoration: none; }
  article h2 a:hover,
  article h3 a:hover {
    text-decoration: underline; }
article .steps {
  border-top: 2px solid #e6557e; }
  article .steps h3 + p {
    margin-left: 1em; }

/*# sourceMappingURL=layout.css.map */
.row.collapse>.column,.row.collapse>.columns,.row.small-collapse>.column,.row.small-collapse>.columns{
    padding-left:0;padding-right:0
}
.row{
    max-width:75rem;
    margin-left:auto;
    margin-right:auto
}
.row::after,.row::before{
    content:' ';
    display:table
}
.row::after{
    clear:both
}
.row .row{
    margin-left:-.9375rem;
    margin-right:-.9375rem
}
.row .row.collapse{
    margin-left:0;
    margin-right:0
}
.row.small-uncollapse>.column,.row.small-uncollapse>.columns{
    padding-left:30px;
    padding-right:30px
}
.row{
    max-width:75rem;
    margin-left:auto;
    margin-right:auto
}
.row::after,.row::before{
    content:' ';
    display:table
}
.row::after{
    clear:both
}
.row .row{
    margin-left:-.9375rem;
    margin-right:-.9375rem
}
.row .row.collapse{
    margin-left:0;
    margin-right:0
}
.row.small-uncollapse>.column,.row.small-uncollapse>.columns{
    padding-left:30px;
    padding-right:30px
}
@media screen and (min-width:32em){
    .row.medium-collapse>.column,.row.medium-collapse>.columns{
        padding-left:0;
        padding-right:0
    }
    .row.medium-uncollapse>.column,.row.medium-uncollapse>.columns{
        padding-left:30px;
        padding-right:30px
    }
}
@media screen and (min-width:64em){
    .row.large-collapse>.column,.row.large-collapse>.columns{
        padding-left:0;
        padding-right:0
    }
    .row.large-uncollapse>.column,.row.large-uncollapse>.columns{
        padding-left:30px;
        padding-right:30px
    }
}
.row.expanded{
    max-width:none
}
.column,.columns{
    width:100%;
    float:left;
    padding-left:.9375rem;
    padding-right:.9375rem
}
.column:last-child,.columns:last-child{
    float:right
}
.column.end,.end.columns{
    float:left
}
.column.row,.row.columns{
    float:none
}
.button{
    background:#2199e8;
    border:1px solid;
}
.small-1{width:8.33333%}.small-push-1{left:8.33333%}.small-pull-1{left:-8.33333%}.small-offset-0{margin-left:0}.small-2{width:16.66667%}.small-push-2{left:16.66667%}.small-pull-2{left:-16.66667%}.small-offset-1{margin-left:8.33333%}.small-3{width:25%}.small-push-3{left:25%}.small-pull-3{left:-25%}.small-offset-2{margin-left:16.66667%}.small-4{width:33.33333%}.small-push-4{left:33.33333%}.small-pull-4{left:-33.33333%}.small-offset-3{margin-left:25%}.small-5{width:41.66667%}.small-push-5{left:41.66667%}.small-pull-5{left:-41.66667%}.small-offset-4{margin-left:33.33333%}.small-6{width:50%}.small-push-6{position:relative;left:50%}.small-pull-6{left:-50%}.small-offset-5{margin-left:41.66667%}.small-7{width:58.33333%}.small-push-7{left:58.33333%}.small-pull-7{left:-58.33333%}.small-offset-6{margin-left:50%}.small-8{width:66.66667%}.small-push-8{left:66.66667%}.small-pull-8{left:-66.66667%}.small-offset-7{margin-left:58.33333%}.small-9{width:75%}.small-push-9{left:75%}.small-pull-9{left:-75%}.small-offset-8{margin-left:66.66667%}.small-10{width:83.33333%}.small-push-10{left:83.33333%}.small-pull-10{left:-83.33333%}.small-offset-9{margin-left:75%}.small-11{width:91.66667%}.small-push-11{left:91.66667%}.small-pull-11{left:-91.66667%}.small-offset-10{margin-left:83.33333%}.small-12{width:100%}.small-offset-11{margin-left:91.66667%}.small-up-1 .column,.small-up-1 .columns{width:100%;float:left}.small-up-1 .column:nth-of-type(1n),.small-up-1 .columns:nth-of-type(1n){clear:none}.small-up-1 .column:nth-of-type(1n+1),.small-up-1 .columns:nth-of-type(1n+1){clear:both}.small-up-2 .column,.small-up-2 .columns{width:50%;float:left}.small-up-2 .column:nth-of-type(1n),.small-up-2 .columns:nth-of-type(1n){clear:none}.small-up-2 .column:nth-of-type(2n+1),.small-up-2 .columns:nth-of-type(2n+1){clear:both}.small-up-3 .column,.small-up-3 .columns{width:33.33333%;float:left}.small-up-3 .column:nth-of-type(1n),.small-up-3 .columns:nth-of-type(1n){clear:none}.small-up-3 .column:nth-of-type(3n+1),.small-up-3 .columns:nth-of-type(3n+1){clear:both}.small-up-4 .column,.small-up-4 .columns{width:25%;float:left}.small-up-4 .column:nth-of-type(1n),.small-up-4 .columns:nth-of-type(1n){clear:none}.small-up-4 .column:nth-of-type(4n+1),.small-up-4 .columns:nth-of-type(4n+1){clear:both}.small-up-5 .column,.small-up-5 .columns{width:20%;float:left}.small-up-5 .column:nth-of-type(1n),.small-up-5 .columns:nth-of-type(1n){clear:none}.small-up-5 .column:nth-of-type(5n+1),.small-up-5 .columns:nth-of-type(5n+1){clear:both}.small-up-6 .column,.small-up-6 .columns{width:16.66667%;float:left}.small-up-6 .column:nth-of-type(1n),.small-up-6 .columns:nth-of-type(1n){clear:none}.small-up-6 .column:nth-of-type(6n+1),.small-up-6 .columns:nth-of-type(6n+1){clear:both}.column.small-centered,.small-centered.columns{float:none;margin-left:auto;margin-right:auto}.small-pull-0,.small-push-0,.small-uncenter{position:static;margin-left:0;margin-right:0}

