{% extends "review/layout.html" %}

{% block title %}Initial Review of {{ initialreview.movie.title }}{% endblock %}

{% block content %}
    <article>
        <h3><a href="{% url 'review:movie_detail' initialreview.movie.id %}">{{ initialreview.movie }}</a></h3>
        <section>
            <p>Rating: {{initialreview.rating}}</p>
            <p>{{ initialreview.pub_date }}</p>
            <p>{{ initialreview.review_text }}</p>
            <p>Watch for: {{ initialreview.watch_for }}</p>
            <a href="{% url 'review:initial_review_edit' review_id=initialreview.id movie_id=initialreview.movie.id %}">Edit Review</a>
        <section>
    </article>
{% endblock %}
