{% extends "review/layout.html" %}

{% block title %}Initial Review of {{ initialreview.movie.title }}{% endblock %}

{% block content %}
    <section>
        <h1><a href="{% url 'review:movie_detail' initialreview.movie.id %}">{{ initialreview.movie }}</a></h1>
        <p>Rating: {{initialreview.rating}}</p>
        <p>{{ initialreview.pub_date }}</p>
        <p>{{ initialreview.review_text }}</p>
        <p>Watch for: {{ initialreview.watch_for }}</p>
    </section>
    <section>
        <a href="{% url 'review:initial_review_edit' pk=initialreview.id movie_id=initialreview.movie.id %}">Edit Review</a>
    </section>
{% endblock %}
