{% extends "layout.html" %}
{% load static from staticfiles %}

{% block static %}<link rel="stylesheet" type="text/css" href="{% static 'review/static/review/style.css' %}">{% endblock %}
{% block title %}Latest Reviewed Movies{% endblock %}

{% block content %}

{% if latest_movie_list %}
    <div class="cards">
        {% for movie in latest_movie_list %}
        <div class="card">
            <header><a href="{% url 'review:movie_detail' movie.id %}">{{ movie }}</a></header>
            <div class="card-copy">
                {% for review in movie.initialreview_set.all %}
                    <a href="{% url 'review:initial_review_detail' review.id %}">Initial Review</a>
                    : {{ review.review_text|truncatechars:80 }}<br>

                {% endfor %}
                {% for review in movie.rewatchreview_set.all %}
                    <a href="{% url 'review:rewatch_review_detail' review.id %}">Rewatch Review</a>
                    : {{ review.review_text|truncatechars:60 }}<br>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No movies are available.</p>
{% endif %}

<form action="{% url 'review:new_movie' %}" method="post">
    {% csrf_token %}
    imdb_id: <input type="text" name="imdb_id"><br>
    plot: <input type="textfield" name="plot"><br>
    runtime: <input type="text" name="runtime"><br>
    rated: <input type="text" name="rated"><br>
    title: <input type="text" name="title"><br>
    year: <input type="number" name="number"><br>
    <input type="submit">
</form>
{% endblock %}
