{% extends "layout.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<article>
    <h1>{{ movie.title }}</h1>
    {{ movie }}
    <section>
        <ul>
        {% for review in movie.review_set.all %}
            <li>
                <a href="{% url 'review:review_detail' review.id %}">{{ review.review_text|truncatechars:80 }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
    <form action="{% url 'review:comment' movie.id %}" method="post">
    {% csrf_token %}
    Review: <input type="text" name="review_text"><br>
    Rating: <input type="number" name="rating"><br>
    <input type="hidden" name="movie" value={{movie.id}}>
    <input type="submit">
    </form>
</article>
{% endblock %}
