{% extends "layout.html" %}
{% load humanize %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<article>
    <h1>{{ movie.title }}</h1>
    {{ movie }}
    <section>
        <p>There are {{ movie.initialreview_set.count|apnumber }} initial review{{ movie.initialreview_set.count|pluralize }} for this movie.</p>
        <p>There are {{ movie.rewatchreview_set.count|apnumber }} rewatch review{{ movie.rewatchreview_set.count|pluralize }} for this movie.</p>
        {% if movie.initialreview_set.all %}
            <ul>
            {% for review in movie.initialreview_set.all %}
                <li>
                    <a href="{{ review.get_absolute_url }}">{{ review.review_text|truncatechars:80 }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </section>
    <form action="{% url 'review:comment' movie.id %}" method="post">
        {% csrf_token %}
        Review: <input type="text" name="review_text"><br>
        Rating: <input type="number" name="rating"><br>
        <input type="hidden" name="movie" value={{movie.id}}>
        Watch For: <input type="text" name="watch_for"><br>
        <input type="submit">
    </form>
</article>
{% endblock %}
