{% extends "review/layout.html" %}
{% load humanize %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<section>
    <h1>{{ movie }}</h1>
    <p>There {{ movie.initialreview_set.count|pluralize:"is,are" }} {{ movie.initialreview_set.count|apnumber }} initial review{{ movie.initialreview_set.count|pluralize }} and {{ movie.rewatchreview_set.count|apnumber }} rewatch review{{ movie.rewatchreview_set.count|pluralize }} for this movie.</p>
</section>
<section>
    {% if movie.initialreview_set.all %}
        <h3>Initial Reviews</h3>
        <ul>
        {% for review in movie.initialreview_set.all %}
            <li>
                <a href="{{ review.get_absolute_url }}">{{ review.review_text|truncatechars:80 }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</section>
<section>
    {% if movie.rewatchreview_set.all %}
        <h3>Rewatch Reviews</h3>
        <ul>
        {% for review in movie.rewatchreview_set.all %}
            <li>
                <a href="{{ review.get_absolute_url }}">{{ review.review_text|truncatechars:80 }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</section>
<section>
    {% if user.is_authenticated %}
    <hr>
    <a href="{% url 'review:edit_movie' movie.id %}" class="button">Edit Movie</a>
    <a href="{% url 'review:add_initial_review' movie.id %}" class="button">Add Initial Review</a>
    <a href="{% url 'review:add_rewatch_review' movie.id %}" class="button">Add Rewatch Review</a>
    {% endif %}
</section>
{% endblock %}
