{% extends "review/layout.html" %}
{% block title %}Latest Reviewed Movies{% endblock %}

{% block content %}
<section>
<h1>Movie List</h1>
{% if latest_movie_list %}
    <div class="cards">
        {% for movie in latest_movie_list %}
        <div class="card">
            <header><a href="{% url 'review:movie_detail' movie.id %}">{{ movie }}</a></header>
            <div class="card-copy">
                {% for review in movie.initialreview_set.all %}
                    <a href="{% url 'review:initial_review_detail' review.id %}">Initial Review</a>
                    : {{ review.review_text|truncatechars:80 }}<br>

                {% endfor %}
                {% for review in movie.rewatchreview_set.all %}
                    <a href="{% url 'review:rewatch_review_detail' review.id %}">Rewatch Review</a>
                    : {{ review.review_text|truncatechars:60 }}<br>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No movies are available.</p>
{% endif %}
</section>
<section>
{% if user.is_authenticated %}
<hr>
<a href="{% url 'review:new_movie' %}" class="button">Add new movie</a>
{% endif %}
</section>
{% endblock %}
