{% extends "review/layout.html" %}
{% block title %}Latest Reviews{% endblock %}

{% block content %}

{% if latest_review_list %}
    <div class="cards">
        {% for review in latest_review_list %}
        <div class="card">
            <header><a href="{% url 'review:movie_detail' review.movie.id %}">{{ review.movie }}</a></header>
            <div class="card-copy">
                <a href="{{ review.get_absolute_url }}">{{ review.review_text|truncatechars:40 }}</a>
                {% if review.watch_for %}
                <p>Initial Review</p>
                <p>Watch For: {{ review.watch_for }}</p>
                {% else %}
                <p>Rewatch Review</p>
                <p>Discovery: {{ review.discovery }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No reviews are available.</p>
{% endif %}
{% endblock %}
