{% extends "layout.html" %}
{% load static from staticfiles %}

{% block static %}<link rel="stylesheet" type="text/css" href="{% static 'review/static/review/style.css' %}">{% endblock %}
{% block title %}Latest Reviews{% endblock %}

{% block content %}

{% if latest_review_list %}
    <div class="cards">
        {% for review in latest_review_list %}
        <div class="card">
            <header><a href="{% url 'review:movie_detail' review.movie.id %}">{{ review.movie }}</a></header>
            <div class="card-copy">
                <a href="{% url 'review:review_detail' review.id %}">{{ review.review_text|truncatechars:40 }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No reviews are available.</p>
{% endif %}
{% endblock %}
