{% extends "review/layout.html" %}

{% block title %}Rewatch Review {{ rewatchreview.id }}{% endblock %}

{% block content %}
<section>
    <h1><a href="{% url 'review:movie_detail' rewatchreview.movie.id %}">{{ rewatchreview.movie }}</a></h1>
    <p>Rating: {{rewatchreview.rating}}</p>
    <p>{{ rewatchreview.pub_date }}</p>
    <p>{{ rewatchreview.review_text }}</p>
    <p>Discovery: {{ rewatchreview.discovery }}</p>
</section>
<section>
    <a href="{% url 'review:rewatch_review_edit' pk=rewatchreview.id movie_id=rewatchreview.movie.id %}">Edit Review</a>
</section>
{% endblock %}
