{% extends "review/layout.html" %}

{% block title %}Rewatch Review {{ rewatchreview.id }}{% endblock %}

{% block content %}
    <article>
        <h3><a href="{% url 'review:movie_detail' rewatchreview.movie.id %}">{{ rewatchreview.movie }}</a></h3>
        <section>
            <p>Rating: {{rewatchreview.rating}}</p>
            <p>{{ rewatchreview.pub_date }}</p>
            <p>{{ rewatchreview.review_text }}</p>
            <p>Discovery: {{ rewatchreview.discovery }}</p>
            <a href="{% url 'review:rewatch_review_edit' review_id=rewatchreview.id movie_id=rewatchreview.movie.id %}">Edit Review</a>
        <section>
    </article>
{% endblock %}
